[submodule "cpp/third-party/dishtiny"]
	path = cpp/third-party/dishtiny
	url = https://github.com/mmore500/dishtiny.git
[submodule "cpp/third-party/picobench"]
	path = cpp/third-party/picobench
	url = https://github.com/iboB/picobench
[submodule "cpp/third-party/FlameGraph"]
	path = cpp/third-party/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
